/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
}

.navContent{
	background-color: white;
	height: 100px;
}

.navStyle{
	padding: 1rem 2rem;
	font-weight: 500px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.navLogo{
	width: 50px;
	height: 50px;
}

.navItems{
	padding: 1rem 3rem;
	font-weight: 500px;
}

.home{
	color: #fff;
	background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
	background-position: center;
	height: 100vh;
	min-height: 80rem;
	max-height: 120rem;
	position: relative;

}

.homeContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-90%);
    max-width: 90rem;
    width: 80%;
}

.homeTitle{
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500px;
	padding-top: 32px;
}

.homeText{
	font-size: 1rem;
	text-align: center;
	line-height: 1;
	padding-top: 2rem;
	width: 100%;
}

.homeImage{
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}